<table class="table table-primary">
    <tr>
        <th colspan="2" class="text-center">Mobile</th>
    </tr>
    <tr>
        <th>Brand</th>
        <td>{{ mobile.brand }}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ mobile.model }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{ mobile.price }}</td>
    </tr>
    <tr>
        <th>Image</th>
        <td>
            <img src="{{mobile.image}}" alt="" width="100" height="100">
        </td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
</table>